doctype html
html(lang="en")
    head
        title JS Modules
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        link(rel="stylesheet", href="styles/reveal.css")
        link(rel="stylesheet", href="styles/theme/beige.css")
    body
        .reveal
            .slides
                section
                    h1 Title
                section
                    section Slide 1
                    section Slide 2
        script(src="scripts/highlight.js")
        script(src="scripts/reveal.js")
        script(src="scripts/main.js")